/*
* custom.css
* File include item demo only specific css only
******************************************************************************/

.custom-option.newstyle {
    border: none !important;
}

.custom-option.newstyle .form-check-input[type=checkbox] {
    border-radius: 50%;
}

.custom-option.nolist label {
    padding: 0 1em;
}

.custom-option.nolist input {
    display: none;
}
